{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true, "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": 1,
    "react/no-unknown-property": [2, {"ignore": ["class", "for"]}],
    "react/prop-types": 0, //todo: warn
    "no-debugger": 0
  }


}